.feature__title {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.feature__details {
    color: $text-color;
    font-weight: 400;
    line-height: 1.71;
}

.feature__list {
    display: flex;
}

.feature__icon {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: $button-background-color;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.feature__item {
    width: 270px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}