$logo-color: #000000;
$main-text-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$secondary-color: #ffffff;
$footer-links-color: rgba(255, 255, 255, 0.6);
$button-background-color: #f5f4fa;
$main-bg-color: #2F303A;
$border-card-color: #EEEEEE;
$social-link-icon-color: #AFB1B8;
$accent-hover-color: #188CE8;